- if user_signed_in?
  = current_user.name
  = link_to 'Friends', friendships_path
  - if current_user.pending_friends.length > 0
    %ul#pending-friends-list
      - current_user.pending_friends.each do |pending_friend|
        %li.pending-friend
          = render :partial => 'friendships/pending_friend', :locals => {:pending_friend => pending_friend }